<h1>Hello User</h1>
<%= link_to "add todo", new_todo_path %>

<table class="todo">
  <thead>
    <tr>
      <th>TASK</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td class="<%="completed" if todo.completed? %>">
          <%= todo.title %>
          <%= button_to 'mark complete', todo_completion_path(todo) %>
          <%= link_to 'Show', todo %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>